<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap")

    body
        footer.page-footer.font-small.blue-grey.lighten-5.footer-dos-posicion
            .footer-copyright.text-center.font-weight-bold.text-black-50.py-3 © 2020 Sistemas distribuidos - Laura Rojas & Tomas Rodriguez

block footerDos