nav.navbar{
    background-color:#C7FECB !important;

}
.navbar ul li a{
    
    font-family: 'Amatic SC', cursive;
    color:#030303;
    font-size: 25px;
   
}

body {
    background-image: url("/img/fondo.png");
    
}

.texto.titulo h1{
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    position: relative;
    text-shadow: -1px -1px 0px #dbffdd,
    3px 3px 0px #dce2b7;
    text-align: center;

}

.linea{
    border-top: 5px solid #FAFEC7;
    margin-bottom: 20px;
}

.linea-separadora{
    border-top: 10px solid white;
    margin-bottom: 20px;
}
.texto.descripcion h2{
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
    position: relative;
    text-align: center;
    padding-left: 2%;
    padding-top: 2%;
    text-shadow: -1px -1px 0px #dbffdd,
    3px 3px 0px #ecf7af;
}

.imagen img{
    position: relative;
    width:400px;
    height:300px;
    margin:auto;
    display:block;
    border: 5px double rgb(201, 200, 172);
    top:20px;
    border-radius: 6px;
}
.contenedor{
    border: 5px dotted #dbf8dd;
    border-radius: 6px;
    background-color: #dbf8dd;
}
.texto.comentario p{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    position: relative;
    text-align: justify;
    padding-left: 1%;
    padding-top: 4%; 
    padding-right: 1%;
}

.footer-posicion {
    margin-top: 100px;
}