<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
    h2 Restablecimiento de contraseña
    p Hola, restablece tu contraseña de sinfit presionando el siguiente botón
    a(href=`${resetUrl}`) Cambiar Contraseña
    p si no puedes acceder al enlace visita #{resetUrl}
    p si no solicitaste este email, por favor omitelo.
    p Recuerda que puedes contactarnos a través del correo soporte@sinfit.com